<header id="header" class="user-select-none">
    <div id="container" class="container px-2 justify-content-between">

        <div id="main-title" class="row">
            <div class="col-12 d-flex justify-content-lg-start justify-content-center">
                <h1 class="text-center mt-3 mr-auto">
                    <a>Alejandro Ponce</a>
                </h1> 
                <button *ngIf="isVisible" class="navbar-toggler text-light mx-0 my-2 d-lg-none fs-2 px-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
                    <span class="bi bi-list"></span>
                </button>
            </div>
            
        </div>

        <h2 class="text-lg-start text-center mb-4"><span class="consolas">Hello world</span>, I'm a <span role="button" class="highlight" (click)="fnTapme()" title="Don't tap me" data-bs-toggle="tooltip" data-bs-placement="top">developer</span> from Monterrey, MX</h2>

        <nav id="navbar" class="navbar d-lg-flex d-none">
            <ul class="d-flex flex-wrap justify-content-center">
                <li><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active" class="nav-link">About</a></li>
                <li><a routerLink="/resume" routerLinkActive="active" class="nav-link">Resume</a></li>
                <li><a routerLink="/portfolio" routerLinkActive="active" class="nav-link">Portfolio</a></li>
                <li><a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a></li>
            </ul>
            <!-- <i class="bi bi-lst mobile-nav-toggle"></i> -->
        </nav>

        <button *ngIf="!isVisible" class="navbar-toggler text-light m-2 d-lg-none fs-2 mr-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
            <span class="bi bi-list"></span>
        </button>

        <div class="social-links">
            <a href="#" class="github"><i class="bi bi-github"></i></a>
            <a href="#" class="mail"><i class="bi bi-envelope"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</header>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasLabel">Navigate</h5>
        <button type="button" class="btn text-light" data-bs-dismiss="offcanvas" aria-label="Close">
        <i class="bi bi-x-lg"></i>
        </button>
    </div>
    <div class="offcanvas-body px-0">
        <ul id="offcanvas-list" class="fs-6 px-0">
            <li><a data-bs-dismiss="offcanvas" routerLink="/home" routerLinkActive="active" class="nav-link ">Home</a></li>
            <li><a data-bs-dismiss="offcanvas" routerLink="/about" routerLinkActive="active" class="nav-link">About</a></li>
            <li><a data-bs-dismiss="offcanvas" routerLink="/resume" routerLinkActive="active" class="nav-link">Resume</a></li>
            <li><a data-bs-dismiss="offcanvas" routerLink="/portfolio" routerLinkActive="active" class="nav-link">Portfolio</a></li>
            <li><a data-bs-dismiss="offcanvas" routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Language
                </a>
                <ul class="dropdown-menu bg-dark">
                    <li><a class="dropdown-item" href="#">🇲🇽 Spanish</a></li>
                    <li><a class="dropdown-item" href="#">🇺🇸 English</a></li>
                </ul>
            </li>
        
        </ul>
        
    </div>
</div>