<!-- ======= portfolio Section ======= -->
<section id="portfolio" class="portfolio">

  <!-- ======= Portfolio  ======= -->
  <div class="portfolio container">

    <div class="section-title">
        <h2>Portfolio</h2>
        <p>My work</p>
    </div>

    <div class="row">
        <div *ngFor="let item of Items" class="col-lg-6 py-2">
            <div class="card portfolio-item" >
              <div class="card-body">

                <div class="row"> 
                  <div class="col-md-5">
                    <img [src]="item.Img" class="img-fluid" alt="">
                  </div>
                  
                  <div class="col-md-7">
                    <h5 class="card-title mt-2 fw-bold">{{item.Title}}</h5>
               
                    <p class="card-text">{{item.Description}}</p>
                    <div class="d-flex my-2">
                      <div class="icon-box" *ngFor="let tech of item.Technologies" [title]="tech.Name" data-bs-toggle="tooltip" data-bs-placement="bottom">
                        <span class="text-muted px-1" ><i [class]="tech.Icon"></i></span>
                        </div>
                    </div>
                  </div>

                </div>
                <!-- <a href="#" class="btn btn-project btn-sm">See more</a> -->
              </div>
            </div>
        </div>
    </div>

</div><!-- End Portfolio  -->

    
</section><!-- End portfolio Section -->