<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">

    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Web Developer</h4>
                    <h5>Apr 2021 - Present</h5>
                    <p><em>Innatos Systems Group, Monterrey, MX</em></p>
                    <div>
                    <ul>
                        <li>Desarrollo de aplicaciones web con ASP.NET y API's con .NET Core.</li>
                        <li>Desarrollo, soporte y mantenimiento de sistema en .NET Framework</li>
                        <li>Desarrollo y soporte de Progressive Web Application en .NET Core 3.0</li>
                        <li>Manejo y gestion de base de datos en SQL Server</li>
                        <li>Desarrollo de aplicaciones híbridas en Ionic integración con Angular Framework</li>
                        <li>Despliegue de aplicaciones web y moviles</li>
                        <li>Aplicación de metodologías agiles</li>
                    </ul>
                    </div>
                </div>
                <div class="resume-item">
                    <h4>Software Developer</h4>
                    <h5>Jan 2020 - Dec 2020</h5>
                    <p><em>EISEI Innovation, Monterrey, MX</em></p>
                    <div>
                    <ul>
                        <li>Desarrollo de aplicaciones web MVC con PHP, Framework Yii 2.0, MySQL</li>
                        <li>Desarrollo, soporte y mantenimiento de proyecto interno ERP.</li>
                        <li>Manejo de sistema de control de versiones GIT</li>
                        <li>Manejo y uso de metodología SCRUM para el desarrollo de aplicaciones.</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Alice Barkley</h4>
                    <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and
                            developing user-centered digital/print marketing material from initial concept to final,
                            polished deliverable.</em></p>
                    <div>
                    <ul>
                        <li>Portland par 127,Orlando, FL</li>
                        <li>(123) 456-7891</li>
                        <li>alice.barkley@example.com</li>
                    </ul>
                    </div>
                </div> -->

                <h3 class="resume-title">Education</h3>
               
                <div class="resume-item">
                    <h4>Ingeniería en Administración de Sistemas</h4>
                    <h5>2016 - 2021</h5>
                    <p><em>Facultad de Ingeniería Mecánica y Eléctrica, Monterrey, MX</em></p>
                    <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione
                        eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon
                        sader mart dila</p>
                </div>
            </div>
        </div>

    </div>


</section><!-- End Resume Section -->