<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">

    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Web Developer</h4>
                    <h5>Apr 2021 - Present</h5>
                    <p><em>Innatos Systems Group, Monterrey, MX</em></p>
                    <div>
                    <ul>
                        <li>Development of web applications with ASP.NET and API's with .NET Core.</li>
                        <li>System development, support and maintenance in the .NET Framework</li>
                        <li>Development and support of Progressive Web Application in .NET Core 3.0</li>
                        <li>Database management and management in SQL Server</li>
                        <li>Development of hybrid applications in Ionic integration with Angular Framework</li>
                        <li>Deployment of web and mobile applications</li>
                        <li>Application of agile methodologies</li>
                    </ul>
                    </div>
                </div>
                <div class="resume-item">
                    <h4>Software Developer Jr.</h4>
                    <h5>Jan 2020 - Dec 2020</h5>
                    <p><em>EISEI Innovation, Monterrey, MX</em></p>
                    <div>
                    <ul>
                        <li>Development of MVC web applications with PHP, Yii 2.0 Framework, MySQL</li>
                        <li>Development, support and maintenance of internal ERP project.</li>
                        <li>Management of the GIT version control system</li>
                        <li>Management and use of SCRUM methodology for application development.</li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
              
                <h3 class="resume-title">Education</h3>
               
                <div class="resume-item">
                    <h4>Systems Engineering Administrator</h4>
                    <h5>2016 - 2021</h5>
                    <p><em>Facultad de Ingeniería Mecánica y Eléctrica, Monterrey, MX</em></p>
                    <p>Apply autonomous learning strategies at different levels and fields of knowledge that allow me to make timely and relevant decisions in the personal, academic and professional spheres.</p>
                </div>
            </div>
        </div>

    </div>


</section><!-- End Resume Section -->